.article {
  display: flex;
  width: 938px;
  height: max-content;
  background-color: #fff;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 6px;
  padding: 48px 32px;
  box-shadow: 0 0 20px 0 rgba(34, 60, 80, 0.2);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 20px auto;

  h2 {
    margin: 0 0 8px 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
  }
}

.create__article {
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
  width: 100%;

  label {
    font-size: 14px;
    color: #262626;
    margin-top: 12px;
  }

  .input {
    padding: 8px 12px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    min-width: 300px;

    font-size: 16px;
    line-height: 24px;
  }

  textarea {
    height: 168px;
    resize: none;
    padding: 8px 12px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
  }

  input::placeholder,
  textarea::placeholder {
    font-size: 16px;
    line-height: 24px;
    color: #bfbfbf;
    width: 100%;
  }

  .tagList {
    display: flex;
    flex-direction: column;
  }

  .tagList div {
    padding-bottom: 5px;
  }

  .tags {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .tags span {
    display: flex;
    align-items: center;
  }

  .btn_delete,
  .btn_add {
    background-color: #fff;
    padding: 8px 30px;
    border-radius: 6px;
    border: 2px solid transparent;
    margin-left: 20px;
  }

  .btn_delete {
    color: #f5222d;
    border-color: #f5222d;
    width: 118px;
  }

  .btn_add {
    color: #1890ff;
    border-color: #1890ff;
    width: 136px;
  }

  input[type='submit'] {
    background: #1890ff;
    color: #fff;
    margin-top: 21px;
    font-size: 16px;
    line-height: 24px;
    width: 319px;
    height: 40px;
  }
}
